*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
section{
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #19172e;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    top: 10%;
    right: 20%;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(#ECEB5D,#F87F00);
    animation: animate 5s ease-in-out infinite;
    animation-delay: -2.5s;
}
section::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background: linear-gradient(#78E2F0,#2B2DF0);
    animation: animate 5s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        transform: translateY(23px);
    }
    50%{
        transform: translateY(-23px);
    }
}
/* 圆形 */
.clock::before{
    content: '';
    position: absolute;
    z-index: -10px;
    top: -5%;
    right: 55%;
    width: 280px;
    height: 280px;
    transform: translate(-100%, -80%);
    border-radius: 50%;
    background: linear-gradient(147deg,#ffe538,#ff2525);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    animation: pulse 2.3s infinite;
}
.clock::after{
    content: '';
    position: absolute;
    z-index: -10px;
    top: 40%;
    right: -40%;
    width: 330px;
    height: 330px;
    transform: translate(10%, 20%);
    border-radius: 50%;
    background: linear-gradient(45deg,#7C4DFF,#78C0F0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    animation: pulse 2s infinite;
}
@keyframes pulse{
    50%{
        box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.clock{
    position: relative;
    width: 700px;
    height: 250px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    z-index: 3;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);/* 给时钟部分的方框加一个白线，更立体 */
    backdrop-filter: blur(35px);/* 方块和时钟框接触部分模糊 */
}
.clock .container{/* 让时钟框里内容居中格式 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.clock .container h2{
    font-size: 6em;
    color: #fff;
}
.clock .container h2:nth-child(odd){/* 给数字加上框和阴影 */
    padding: 5px 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);/* 底部和右侧加白线和背景对比更立体 */
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.clock .container h2#hour{
    color: #78E2F0;
}
.clock .container h2#sec{
    color: #f9d524;
}
.clock .container h2#dot1{/* 得用id，此处id=dot1 */
    color: #01A6FF;
}
.clock .container h2#dot2{
    color: #EFD54C;
}
#ampm{
    position: relative;
    top: -50px;
    font-size: 2em;
    color: #fff;
    font-weight: 700;
}